<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nuestra Misión</h2>
                <hr class="light">
                <p class="text-faded">Brindar un excelente servicio de transporte de carga a nuestros clientes, mediante un trato personalizado, entregas puntuales y personal altamente capacitado. </p>
                <h2 class="section-heading">Nuestra Visión</h2>
                <hr class="light">
                <p class="text-faded">Ser la empresa líder en el transporte de carga en el mercado guatemalteco, mediante un servicio de calidad.</p>
                <a href="https://www.linkedin.com/company/transportesbarrientos" class="btn btn-default btn-xl">Cotíza ahora</a>
            </div>
        </div>
    </div>
</section>