<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tu mejor opción en transporte de mercancías en Guatemala</h1>
            <hr>
            <p>Somos una empresa de transporte con más de 35 años de experiencia en el mercado, en donde nos hemos caracterizado por brindar un excelente servicio al cliente, con personal altamente capacitado para brindar la mejor asistencia en logística.</p>
            <a href="https://www.linkedin.com/company/transportesbarrientos/" class="btn btn-primary btn-xl page-scroll">Aprende más</a>
        </div>
    </div>
</header>